body {
  font-family: "Open Sans", sans-serif;
}

.jumbotron {
  background-color: #747b7c;
  margin-top: 7em;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#about {
  padding-top: 5rem;
}
#gallery {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#contact {
  padding-bottom: 2rem;
}
